<div class="form-group row">
    <div class="col form-check form-switch d-none inpchekcboxdiv">
        <input class="form-check-input inpchekcbox" type="checkbox" id="firstname_check">
        <label class="form-check-label" for="firstname_check">Select</label>
    </div>
    <div class="col">
    <label for="firstname" class="col-form-label">First Name</label>
    </div>
    <div class="col-sm-10">
        <input type="text" name="firstname" class="form-control" readonly  id="firstname" value=<%= user.firstname %>>
    </div>
</div>
<br>

<div class="form-group row">
    <div class="col form-check form-switch d-none inpchekcboxdiv">
        <input class="form-check-input inpchekcbox" type="checkbox" id="lastname_check">
        <label class="form-check-label" for="lastname_check">Select</label>
    </div>
    <div class="col">
    <label for="lastname" class="col-form-label">Last Name</label>
    </div>
    <div class="col-sm-10">
        <input type="text" name="lastname" class="form-control" readonly  id="lastname" value=<%= user.lastname %>>
    </div>
</div>
<br>


<div class="form-group row">
    <div class="col form-check form-switch d-none inpchekcboxdiv">
        <input class="form-check-input inpchekcbox" type="checkbox" id="mobile_check">
        <label class="form-check-label" for="mobile_check">Select</label>
    </div>
    <div class="col">
    <label for="mobile" class="col-form-label">Mobile</label>
    </div>
    <div class="col-sm-10">
        <input type="text" name="mobile" class="form-control" readonly id="mobile" value=<%= user.mobile %>>
    </div>
</div>
<br>


<div class="form-group row">
    <div class="col form-check form-switch d-none inpchekcboxdiv">
        <input class="form-check-input inpchekcbox" type="checkbox" id="email_check">
        <label class="form-check-label" for="email_check">Select</label>
    </div>
    <div class="col">
    <label for="email" class="col-form-label">Email</label>
    </div>
    <div class="col-sm-10">
        <input type="text" name="email"class="form-control" readonly  id="email" value=<%= user.email %>>
    </div>
</div>
<br>


<div class="form-group row">
    <div class="col form-check form-switch d-none inpchekcboxdiv">
        <input class="form-check-input inpchekcbox" type="checkbox" id="addressline1_check">
        <label class="form-check-label" for="addressline1_check">Select</label>
    </div>
    <div class="col">
    <label for="addressline1" class="col-form-label">Address Line 1</label>
    </div>
    <div class="col-sm-10">
        <input type="text" name="addressline1" class="form-control" readonly  id="addressline1" value=<%= user.addressline1 %>>
    </div>
</div>
<br>


<div class="form-group row">
    <div class="col form-check form-switch d-none inpchekcboxdiv">
        <input class="form-check-input inpchekcbox" type="checkbox" id="addressline2_check">
        <label class="form-check-label" for="addressline2_check">Select</label>
    </div>
    <div class="col">
    <label for="addressline2" class="col-form-label">Address Line 2</label>
    </div>
    <div class="col-sm-10">
        <input type="text" name="addressline2" class="form-control" readonly  id="addressline2" value=<%= user.addressline2 %>>
    </div>
</div>
<br>


<div class="form-group row">
    <div class="col form-check form-switch d-none inpchekcboxdiv">
        <input class="form-check-input inpchekcbox" type="checkbox" id="city_check">
        <label class="form-check-label" for="city_check">Select</label>
    </div>
    <div class="col">
    <label for="city" class="col-form-label">City</label>
    </div>
    <div class="col-sm-10">
        <input type="text" name="city" class="form-control" readonly  id="city" value=<%= user.city %>>
    </div>
</div>
<br>


<div class="form-group row">
    <div class="col form-check form-switch d-none inpchekcboxdiv">
        <input class="form-check-input inpchekcbox" type="checkbox" id="state_check">
        <label class="form-check-label" for="state_check">Select</label>
    </div>
    <div class="col">
    <label for="state" class="col-form-label">State</label>
    </div>
    <div class="col-sm-10">
        <input type="text" name="state" class="form-control" readonly  id="state" value=<%= user.state %>>
    </div>
</div>
<br>


<div class="form-group row">
    <div class="col form-check form-switch d-none inpchekcboxdiv">
        <input class="form-check-input inpchekcbox" type="checkbox" id="country_check">
        <label class="form-check-label" for="country_check">Select</label>
    </div>
    <div class="col">
    <label for="country" class="col-form-label">Country</label>
    </div>
    <div class="col-sm-10">
        <input type="text" name="country" class="form-control" readonly  id="country" value=<%= user.country %>>
    </div>
</div>
<br>


<div class="form-group row">
    <div class="col form-check form-switch d-none inpchekcboxdiv">
        <input class="form-check-input inpchekcbox" type="checkbox" id="country_check">
        <label class="form-check-label" for="country_check">Select</label>
    </div>
    <div class="col">
    <label for="gender" class="col-form-label">Gender</label>
    </div>
    <div class="col-sm-10">
        <select name="gender" id="gender" disabled>
            <option value="select">Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Prefer not to say</option>
        </select>
</div>
    
</div>
<br>


<script>
    function setGender(){
        let element = document.getElementById("gender");
        element.value = "<%=user.gender%>";
    }
    setGender();
</script>


